aali
aali0218
Online
HackTech & Vibes

quincy — 4/24/25, 6:19 PM
UChicago! wbu?
aali — 4/24/25, 6:53 PM
UCLA
Youre coming a long way from Uchicago haha
Looking forward to getting to know ya'll
Sultan — 4/24/25, 6:54 PM
no way guy just abandoned his own hackathon 😭
aali — 4/24/25, 7:00 PM
I rather see new places
I know too many people doing that one
Sultan — 4/24/25, 7:00 PM
dude honestly lowkey
just submit same project for both
if one wins but other doesnt, one uni is just more cracked
aali — 4/24/25, 7:01 PM
Lmao can can just go on my devpost profile and see two identical projects 🤣
Its too much hassle I would have to figure out a way to present it too lmao 
aali — 4/24/25, 8:03 PM
Waiting to be let in
quincy — 4/24/25, 8:03 PM
same!
quincy — 4/24/25, 8:38 PM
nice meeting u all! just wondering since u guys mentioned three.js - what tech stack are we thinking of using
or should we just flesh that out tmrw lol
Sultan — 4/24/25, 8:52 PM
Typescript will be a must
I have somehow avoided nextjs all my life but that’s prolly the best
Sultan — 4/24/25, 8:59 PM
tech stack tldr:

Either
Nextjs only

OR
If not that choose a backend and a frontend
Backend Options: Python (FastAPI prolly best) or Express
Frontend: React+Vite or Nextjs


Libraries: Threejs (confirmed), rest we do trrw
Sultan — 4/24/25, 9:11 PM
also @Rajashekar @quincy when and where u guys landing fyi
quincy — Yesterday at 6:32 AM
LAX at 4:48pm!
quincy — Yesterday at 8:50 AM
u said ur landing at 4 right? how r u gonna get to the venue
Sultan — Yesterday at 9:02 AM
I’m thinking public transport to union station and then uber from there
From what I’ve heard the direct train to union station is pretty solid speed wise and price of uber basically halves
Sultan — Yesterday at 10:19 AM
acc lmk if u wanna travel together or something, i think can find something to do for an hour
quincy — Yesterday at 1:44 PM
my flight got a bit delayed cuz of storms in chicago but if u don't mind waiting for like an hour i'd be down
estimated arrival time is 5:05 but i dont have checked-in baggage so i should be out pretty quick
Sultan — Yesterday at 1:52 PM
Sure sure I’ll lyk
Most likely I’ll prolly grab food at the airport first, skipped breakfast and lunch
And then we leave together
quincy — Yesterday at 1:56 PM
yea that's perfect! i actually don't have discord on my phone (forgot my password lol) so if u could text me @ 8723258205 that'd be a lot better haha
also how did u skip both i'd actually be nonfuctional at this point
aali — Yesterday at 4:47 PM
@Rajashekar Did you reach out to the Hacktech team about check in?
aali — Yesterday at 4:59 PM
https://hack.caltech.edu/hacker-packet.pdf
Sultan
 pinned a message to this channel. See all pinned messages. — Yesterday at 5:15 PM
aali — Yesterday at 5:33 PM
Did you guys land?
Sultan — Yesterday at 5:35 PM
Yea we are getting uber rn
aali — Yesterday at 7:08 PM
We’re here
Sultan — Yesterday at 7:19 PM
Me and Quincy are also here where u guys at
Sultan — Yesterday at 9:20 PM
https://support.apple.com/en-us/105016
Apple Support
View health records on your iPhone or iPad - Apple Support
See all your health records — such as medications and lab results — in one place.
quincy — Yesterday at 9:31 PM
Full anatomy: https://sketchfab.com/3d-models/ecorche-anatomy-study-e402d3d541eb4b199c57d5410f5d3c57
Lungs: https://sketchfab.com/3d-models/realistic-human-lungs-ce09f4099a68467880f46e61eb9a3531
Heart: https://sketchfab.com/3d-models/heart-40973a6b8f6d485c8d78e536ac2ec168
Brain: https://sketchfab.com/3d-models/brain-project-24ec03412dd8432bb0d3e750a72608e0
Sketchfab
Beatriz Gomez Santamaria
Ecorche - Anatomy study - Download Free 3D model by Beatriz Gomez S...
Anatomical study of the human body. Now available for free download!! - Ecorche - Anatomy study - Download Free 3D model by Beatriz Gomez Santamaria (@BeatrizGomez)
Image
Sketchfab
neshallads
Realistic Human Lungs - Download Free 3D model by neshallads
Check out this realistic human lungs 3D model. Highly detailed and textured. Ready to be used for digital laboratory setup, metaverse, human anatomy, AR/VR, educative videos etc. Finely detailed and textured that might give you a blood rush. Download it for free and get started. . For more such cool and interesting content follow us on: https://...
Image
Sketchfab
BrainStation
Heart - Download Free 3D model by BrainStation (@Sohila.Lotfy)
The heart is a muscular organ about the size of a fist, located just behind and slightly left of the breastbone. The heart pumps blood through the network of arteries and veins called the cardiovascular system.

Reference
https://www.webmd.com/heart/picture-of-the-heart - Heart - Download Free 3D model by BrainStation (@Sohila.Lotfy)
Image
Sketchfab
Dean Lavery
Brain Project - Download Free 3D model by Dean Lavery (@dean.lavery)
Coloured Brain
Source - https://skfb.ly/AFry - Brain Project - Download Free 3D model by Dean Lavery (@dean.lavery)
Image
all of them should be free to download as gltf files
Sultan — Yesterday at 10:04 PM
statistics for the pitch https://www.perplexity.ai/search/b540722a-ac2d-4eb8-91a0-25c21e451867
Perplexity AI
I am thinking of building app targeted towards making the users own...
You are not creating a solution to a non-existent problem-fragmented, inaccessible, and provider-controlled healthcare data is a widely recognized and...
I am thinking of building app targeted towards making the users own...
quincy — Yesterday at 11:05 PM
judging criteria fyi
Image
aali — Yesterday at 11:49 PM
https://raj-cruzhacks25.vercel.app/feed?highlight=1745650042311
One Earth
Our EARTH, Our Responsibility
aali — 10:47 AM
aahil0218@gmail.com
Sultan — 10:48 AM
sultan.shayaan@gmail.com
Rajashekar — 10:49 AM
rajashekarvennavelli@gmail.com
quincy — 12:53 PM
Image
Image
Sultan — 5:14 PM
https://amoy.polygonscan.com/address/0x572cB478de1fd16cd4357bA42bC693A51cA7af5a#code
aali — 5:27 PM
Attachment file type: unknown
xgboost_model_pipeline.joblib
2.31 MB
from fastapi import FastAPI, HTTPException
from fastapi.middleware.cors import CORSMiddleware
from pydantic import BaseModel
import joblib
import numpy as np
from pathlib import Path
Expand
message.txt
7 KB
Sultan — 5:40 PM
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
Expand
message.txt
4 KB
﻿
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
#   For a library or package, you might want to ignore these files since the code is
#   intended to run in multiple environments; otherwise, check them in:
# .python-version

# pipenv
#   According to pypa/pipenv#598, it is recommended to include Pipfile.lock in version control.
#   However, in case of collaboration, if having platform-specific dependencies or dependencies
#   having no cross-platform support, pipenv may install dependencies that don't work, or not
#   install all needed dependencies.
#Pipfile.lock

# UV
#   Similar to Pipfile.lock, it is generally recommended to include uv.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#uv.lock

# poetry
#   Similar to Pipfile.lock, it is generally recommended to include poetry.lock in version control.
#   This is especially recommended for binary packages to ensure reproducibility, and is more
#   commonly ignored for libraries.
#   https://python-poetry.org/docs/basic-usage/#commit-your-poetrylock-file-to-version-control
#poetry.lock

# pdm
#   Similar to Pipfile.lock, it is generally recommended to include pdm.lock in version control.
#pdm.lock
#   pdm stores project-wide configurations in .pdm.toml, but it is recommended to not include it
#   in version control.
#   https://pdm.fming.dev/latest/usage/project/#working-with-version-control
.pdm.toml
.pdm-python
.pdm-build/

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# pytype static type analyzer
.pytype/

# Cython debug symbols
cython_debug/

# PyCharm
#  JetBrains specific template is maintained in a separate JetBrains.gitignore that can
#  be found at https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
#  and can be added to the global gitignore or merged into this file.  For a more nuclear
#  option (not recommended) you can uncomment the following to ignore the entire idea folder.
#.idea/

# Ruff stuff:
.ruff_cache/

# PyPI configuration file
.pypirc
message.txt
4 KB